/* DAY 1 */
::-webkit-scrollbar {
    background: #000000;
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5vw;
    background: #fba814;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
}

li {
    text-decoration: none;
    display: inline;
}

#files {
    display: none;
}

.divider-for-nav {
    width: 80%;
    height: 0.1vw;
    background-color: #fba814;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 22vw;
    height: 100vh;
    padding: 0.1vw 0;
    background-color: #ffa200;
    position: sticky;
    top: 0;
    /* left:0; */
    z-index: 1000;
}

.vcify-left-nav-bar-top {
    background-color: #ffffff;
    /* padding: 0.5vw 5vw; */
    border-radius: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25%;
    width: 90%;
    overflow: hidden;

}

.vercify-og-logo {
    width: 10vw;
    height: 3.5vw;
    /* height: auto; */
    object-fit: cover;
}

.vlnb-nav-essts a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2vw;
}

.vlnb-nav-essts a:hover {
    color: #fba814;
}

.n-p-text {
    font-size: 1.2vw;
    font-weight: 700;
}

.vcify-left-nav-bar-bottom {
    background-color: #ffffff;
    height: 72%;
    width: 90%;
    padding: 0.5vw 5vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

}

.now-play-ing-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}

.n-p-song-img {
    height: 7.7vw;
    /* padding: 7%; */
    border: 5px double #ffa200;
    box-shadow: 0vw 0vw 0.4vw 0vw #000000;

}

.n-p-song-title,
.n-p-artst-name {
    font-size: 1vw;
    text-align: center;
    font-weight: 500;
}

.n-p-song-durn,
.n-p-song-live-durn {
    width: 10%;
    font-size: 1vw;
    font-weight: 500;
}

.song-durn-n-prog-bar {
    display: flex;
    align-items: center;
    gap: 2%;
    width: 180%;
    margin-right: 10%;
}

.n-p-prog-bar {
    background-color: #ffffff;
    border: 0.1px solid #ffa200;
    width: 70%;
    height: 20%;
    margin-left: 7%;
    /* box-shadow: 0vw 0vw 0.2vw 0vw #000000; */
    border-radius: 1vw;
    position: relative;
    cursor: pointer;
}

.n-p-prog-bar-obj {
    font-size: 0.8vw;
    height: 100%;
    width: 0%;
    background-color: #ffa200;
    transition: width 0.3s;
}

.n-p-prog-bar-obj i {
    position: absolute;
    left: 0%;
    bottom: -330%;
    transform: translateX(-35%);
    transition: left 0.3s;
}

.n-p-symb {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-size: 1.7vw;
}

.ex-tr-as-hit {
    width: 180%;
    display: flex;
    justify-content: space-evenly;
    /* background: #1a1a2e; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.ex-tr-as-hit a {
    text-decoration: none;
    font-size: 0.9vw;
    color: #000000;
    font-weight: 500;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.ex-tr-as-hit a:hover,
.ex-tr-as-hit a:focus {
    /* color: #0f3460; */
    transform: translateY(-5px);
    /* background: #ffffff; */
    color: #fba814;
    border-radius: 5px;
}

/* DAY 2 */

.vcify-right-song {
    width: 80vw;
    background-color: #000000;
    box-shadow: 0vw 0vw 0.4vw 0.2vw #000000;
    z-index: 10;
    transition: 1s;

}

.vrs-ham-burg i {
    font-size: 3vw;
    margin: 0 65%;
    display: none;
    color: #ffa200;
    cursor: pointer;
}

.vlnb-go-back i {
    font-size: 3vw;
    margin: 0 65%;
    color: #000000;
    left: 22%;
    top: 2%;
    display: none;
    position: absolute;
    cursor: pointer;
}

.vrs-ham-burg i:hover {
    color: #ffffff;
}

.vlnb-go-back i:hover {
    color: #ffa200;
}

.vrs-txtara-n-logo {
    display: flex;
    margin: 0.7vw 0 0.5vw 1vw;
    background-color: #ffffff21;
    align-items: center;
    width: 77vw;
    height: 4.4vw;
    padding: 0.3vw 0 0.2vw 0.6vw;
    border-radius: 3vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.submitmargin {
    margin-left: 0.5vw;
}

.signupmargin {
    margin-left: 5vw;
}

.loginmargin {
    margin-left: 0.4vw;
}

.vrs-txtara-n-logo button v {
    cursor: pointer;
}

.vrs-tnl-logo {
    height: 3.3vw;
    width: auto;
    position: absolute;
    z-index: 10;
}

.vrs-tnl-textarea {
    width: 50vw;
    height: 3vw;
    /* margin: 0.2vw; */
    background-color: #2D2D2D;
    padding: 0.9vw 0 0 4vw;
    border: none;
    border-radius: 2vw;
    color: #f0f0f0;
    font-size: 1vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    resize: none;
    position: relative;

}

.vrs-tnl-textarea:focus {
    background-color: #fba814;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.vrs-tnl-submit-btn {
    height: 3vw;
    /* margin: 0.2vw; */
    background-color: #2D2D2D;
    padding: 0vw 1.5vw;
    transform: translateY(-3%);
    border: none;
    border-radius: 2vw;
    color: #f0f0f09c;
    font-size: 1vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /* position: absolute; */

}

.vrs-tnl-submit-btn:hover {
    background-color: #fba814;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    color: #000000;
}

.vrs-pla-yli-sts {
    display: flex;
    flex-direction: column;
    /* max-height:0vh; */
    height: 85vh;
    margin: 0.8vw 0 0.8vw 0.8vw;
    background-color: #ffffff21;
    width: 77vw;
    padding: 0.3vw 0 0 0.6vw;
    border-radius: 1vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    /* overflow-x: hidden; */
}

.vrsp-header {
    color: #ffa200;
    font-size: 1.7vw;
    font-weight: 700;
    margin: 1% 0 1vw 0.7vw;
}

.vrsp-song-card-holder {
    display: flex;
    flex-wrap: wrap;
}

.vrsp-song-card {
    margin: 0 0 1vw 0.7vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    /* justify-content:space-between; */
    gap: 0.2vw;
    flex-direction: column;
    height: 20vw;
    width: 14vw;
    border-radius: 0.5vw;
    background-color: #2D2D2D;
    /* box-shadow: 0 0 0.4vw 0.1vw #ffa200; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.vsrp-sc-cover-img {
    height: 12vw;
}

.vsrp-sc-genre-name {
    text-align: center;
    font-size: 1.1vw;
    color: #ffffff;

}

.vsrp-sc-artist-name {
    text-align: center;
    font-size: 1.1vw;
    color: #ffa200;

}

.vsrp-sc-genre-songs {
    font-size: 0.7vw;
    padding-top: 0.4vw;
    text-align: center;
    color: #f0f0f09c;
    /* position: relative; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* DAY 3 */

.vsrp-sc-genre-n-play-btn {
    position: relative;
}

.vsrp-sc-genre-play-button {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    background-color: #ffa200;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #959595;
}

.vsrp-sc-genre-play-button {
    z-index: -1;
}

.vrsp-song-card:hover {
    animation: songcardanim 0.5s ease-in forwards;

    .vsrp-sc-genre-play-button {
        animation: playbtnanim 0.7s ease-in forwards;
        cursor: pointer;
        cursor: url('vercify-cursor.svg');
    }

    .vsrp-sc-genre-songs {
        animation: songnamesbtnanim 0.2s ease-in forwards;

    }
}

@keyframes songcardanim {
    from {
        background-color: #2D2D2D;
    }

    to {
        background-color: #444444;
    }
}

@keyframes playbtnanim {
    from {
        opacity: 0;
        z-index: -1;

    }

    to {
        opacity: 1;
        z-index: 10;
    }
}

@keyframes songnamesbtnanim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* DAY 5 */

.n-p-symb i:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.wave-menu {
    width: 5vw;
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    transition: ease 0.2s;
    /* position: relative; */
    background: #fff;
}

.wave-menu li {
    list-style: none;
    height: 2vw;
    width: 100%;
    border-radius: 10px;
    background: #ffa200;
    margin: 0 2.5px;
    padding: 0;
    animation-name: wave1;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: ease 0.2s;
}


.wave-menu li:nth-child(2) {
    animation-name: wave2;
    animation-delay: 0.2s;
}

.wave-menu li:nth-child(3) {
    animation-name: wave3;
    animation-delay: 0.23s;
    animation-duration: 0.4s;
}

.wave-menu li:nth-child(4) {
    animation-name: wave4;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
}

.wave-menu li:nth-child(5) {
    animation-delay: 0.5s;
}

.wave-menu li:nth-child(6) {
    animation-name: wave2;
    animation-duration: 0.5s;
}

.wave-menu li:nth-child(8) {
    animation-name: wave4;
    animation-delay: 0.4s;
    animation-duration: 0.25s;
}

.wave-menu li:nth-child(9) {
    animation-name: wave3;
    animation-delay: 0.15s;
}

@keyframes wave1 {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0.5);
    }
}

@keyframes wave2 {
    from {
        transform: scaleY(0.3);
    }

    to {
        transform: scaleY(0.6);
    }
}

@keyframes wave3 {
    from {
        transform: scaleY(0.6);
    }

    to {
        transform: scaleY(0.8);
    }
}

@keyframes wave4 {
    from {
        transform: scaleY(0.2);
    }

    to {
        transform: scaleY(0.5);
    }
}

/* DAY 6 ,7*/

@media (max-width: 1000px) {
    nav {
        position: absolute;
        left: -100%;
        transition: 1s;
        width: 50vw;
    }

    body {
        background-color: #000000;
    }

    header :nth-child(2) {
        margin-left: 6%;
    }

    .vercify-og-logo {
        width: 22vw;
        height: 8vw;
    }

    .vlnb-nav-essts a {
        font-size: 3vw;
    }

    .n-p-text {
        font-size: 3vw;
    }

    .n-p-song-img {
        height: 20vw;
    }

    .n-p-song-title {
        font-size: 3vw;
    }

    .n-p-artst-name {
        font-size: 2vw;
    }

    .song-durn-n-prog-bar {
        width: 100%;
    }

    .n-p-song-durn,
    .n-p-song-live-durn {
        font-size: 2vw;
    }

    .n-p-prog-bar {
        height: 23%;
    }

    .n-p-prog-bar-obj i {
        font-size: 2vw;
        /* bottom: -100%; */
    }

    .vcify-right-song,
    .vrs-pla-yli-sts,
    .vrs-txtara-n-logo {
        width: 98.5vw;
        padding: 0;
    }

    .vrs-txtara-n-logo {
        padding-top: 0.5%;
        margin-right: 1%;
    }

    .vrs-pla-yli-sts {
        height: calc(100vh - 8.5vh);
    }

    .vrsp-header {
        text-align: center;
    }

    .vrsp-song-card-holder {
        justify-content: center;
    }

    .vrsp-song-card {
        padding: 1.5vw;
        margin: 0 2% 2% 2%;
        gap: 0.2vw;
        height: 25vw;
        width: 19vw;
        border-radius: 0.5vw;
    }

    .vrs-tnl-textarea {
        padding: 0.9vw 0 0 2.5vw;
    }

    .vsrp-sc-cover-img {
        height: 15.5vw;
    }

    .vsrp-sc-genre-name,
    .vsrp-sc-artist-name {
        font-size: 1.2vw;
    }

    .vsrp-sc-genre-songs {
        font-size: 0.8vw;
        padding-top: 0.5vw;
    }

    .vrs-ham-burg i,
    .vlnb-go-back i {
        display: block;
    }

    .submitmargin {
        margin-left: 2vw;
    }

    .signupmargin {
        margin-left: 18vw;
    }

    .vrs-tnl-textarea {
        margin-left: 4.4vw;
    }

    .ex-tr-as-hit {
        width: 150%;
        margin-bottom: 0.5vw;
    }

    .ex-tr-as-hit a {
        font-size: 1.5vw;
    }
}

@media (max-width: 440px) {
    .vrs-txtara-n-logo button {
        margin-top: 0.7%
    }

    .vrs-txtara-n-logo img {
        margin-top: 0.4%
    }

    nav {
        width: 75vw;
    }

    .vercify-og-logo {
        width: 25vw;
        height: 10vw;
    }

    .vlnb-nav-essts a {
        font-size: 3vw;
    }

    .n-p-text {
        font-size: 4vw;
        margin: 1vw 0;
    }

    .n-p-song-img {
        height: 33vw;
    }

    .vlnb-go-back i {
        font-size: 4vw;
    }

    .n-p-artst-name,
    .n-p-song-title {
        font-size: 3.3vw;
    }

    .n-p-symb {
        font-size: 3vw;
        margin: 1vw;
    }

    .song-durn-n-prog-bar {
        width: 100%;
    }

    .n-p-song-durn,
    .n-p-song-live-durn {
        font-size: 3vw;
    }

    .n-p-prog-bar {
        height: 33%;
    }

    .n-p-prog-bar-obj i {
        font-size: 2vw;
        bottom: -100%;
    }

    .vsrp-sc-genre-play-button {
        height: 5vw;
        width: 5vw;
    }

    .vrs-pla-yli-sts {
        height: calc(100vh - 3vh);
    }

    .vrsp-song-card {
        padding: 1.5vw;
        margin: 2%;
        gap: 0.2vw;
        height: 32vw;
        width: 24vw;
        border-radius: 0.5vw;
    }

    .vsrp-sc-cover-img {
        height: 17.5vw;
        margin-top: 5%;
    }

    .vsrp-sc-genre-name,
    .vsrp-sc-artist-name {
        font-size: 1.4vw;
    }

    .vsrp-sc-genre-songs {
        font-size: 1.2vw;
        padding-top: 0.8vw;
    }

    /* .submitmargin,.signupmargin,.loginmargin{
        margin-bottom: 2.2vw; 
    } */
    .ex-tr-as-hit {
        width: 100%;
        margin-bottom: 1vw;
    }

    .ex-tr-as-hit a {
        font-size: 2vw;
    }

}
